body{
    font-family: cursive;
}

#titre {
    background-color: rgb(24, 98, 209);
    opacity: 0.8;
    width: 55vw;
    margin: 20px;
    box-shadow: 1vw 1vw 1vw rgb(13, 53, 114);
}

h1 {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(255,255,255);
    width: 100%;
    display: inline-block;
    font-size: 4vw;
}