@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 60vw;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;

}

.fond {
    height: 60vw;
    width: 100%;
    background: url("./images/fond.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.titre {
    background-color: #FFFFFF;
    color: #000000;
    border-top: 1vw;
    width: 65vw;
    margin-top: 20px;
    box-shadow: 1vw 1vw 1vw #3c2b3f;
}

h1 {
    text-align: center;
    margin-top: 1.2%;
    margin-bottom: 0%;
    display: inline-block;
    font-size: 3.8vw;
}
h2{
    margin-top: 0vw;
    font-size: 2vw;
}

h3{
    text-decoration: underline;
    font-size: 1.5vw;
}

ul{
    font-size: 1.5vw
}

.corps {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 0.5vw;
    width: 62%;
    margin-left: 3vw;
    box-shadow: 1vw 1vw 1.5vw rgba(0, 0, 0);
    padding: 1vw;
}


#codePostal {
    border-radius: 1.9vw;
    width: 18vw;
    height: 3.5vw;
    font-size: 2vw;
    margin-left: 13vw;
    margin-top: 1vw;
    margin-bottom: 1.2vw;
    box-shadow: 0.6vw 0.3vw 0vw rgba(0, 0, 0);
    background-color: rgb(231, 226, 236);
}

#listeVille {
    border-radius: 1vw;
    margin-left: 12vw;
    font-size: 1.1vw;
    width: 20vw;
    height: 3vw;
    animation: slide 1s;
}

#hey {
    display: none;
}

#img_index {
    width: 16vw;
    margin-top: 2vw;
    margin-left: 3vw;
}

#imgBilanMeteo{
    height: 20vw;
    margin-left: 38vw;
    margin-top: -30vw;
    margin-bottom: -7vw;
}

input[type=checkbox]{
    margin-top: 1vw;
    margin-right: 0.6vw;
    width: 2vw;
    height: 2vw;
}

#nomVille{
    color: #f51818;
    font-size: 2.5vw;
    text-shadow: 0.15vw 0.15vw 0vw #000000;
}

label {
    color: rgb(255, 255, 255);
    font-size: 2vw;
    text-shadow: 0.15vw 0.15vw 0vw #000000;
}

.textBouton{
    margin-top: 2vw;
    margin-left: 2vw;
}

.valider {
    appearance: none;
    background-color: #b50404;
    border-radius: 40em;
    border-style: none;
    box-shadow: #513461 0 -8px 10px inset;
    box-sizing: border-box;
    color: #ecebeb;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 2.6vw;
    font-weight: 700;
    letter-spacing: -.24px;
    outline: none;
    padding: 1em 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10vw;
   
    margin-bottom: 5vw;
}

.valider:hover {
    background-color: #cf9e21;
    box-shadow: #af440e 0 -6px 8px inset;
    transform: scale(1.1);
}

.options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1vw;
}

#ulLatitude,#ulLongitude,#ulCumulPluie,#ulVentMoyen,#ulDirectionVent {
    display: none;
}

.valider:active {
    transform: scale(1.5);
}

@media (min-width: 700px) {
    .valider {
        font-size: 1.4em;
        padding: .75rem 2rem;
    }
}

.weathercard {
    animation: slide 0.5s ;
}

@keyframes slide {
    0% { opacity: 0%;
    transform: scaleX(0.8)}
    100%  { opacity: 100%;
        transform: scaleX(1)  }
  }


#changerDroite ,#changerGauche{
    background-color: #f51818;
    border-radius: 20%;
    margin-top: 0.5vw;
    font-size: 3vw;
  }

 #changerGauche{
    margin-left: 3vw;
  }

  #changerDroite{
    margin-left: 53vw;
  }