body{
    font-family: cursive;
    background-image: url("./images/fond.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titre {
    background-color: rgb(24, 98, 209);
    width: 60vw;
    margin-top: 20px;
    box-shadow: 1vw 1vw 1vw rgb(13, 53, 114);
}

h1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(255,255,255);
    width: 100%;
    display: inline-block;
    font-size: 3.2vw;
}

.corps {
    background: rgba(255, 255, 255, 0.25);
    width: 50%;
}

#img_index {
    width: 50%;
}